{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <title>Lista</title>
  </head>
  <body>
    <!--
TODO: You must display the data sent to the template in a table with the follow headers
 - Nome, Documento, Consumo, Tipo, Cobertura, Desconto, Economia

TODO: You must provide 2 selects to filter the rows based in:
 1) consumer type
 2) consumption range
 - You must create the filter functionality in the front-end using JS
-->
    <div class="pt-20 flex flex-col gap-10 items-center justify-center">
      <h1 class="text-2xl font-bold text-center">Lista de Consumidores</h1>
      <table class="w-[80%] mx-auto">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Documento</th>
            <th>Consumo</th>
            <th>Tipo</th>
            <th>Cobertura</th>
            <th>Desconto</th>
            <th>Economia</th>
          </tr>
        </thead>
        <tbody>
          {% for consumer in list_consumers %}
          <tr class="gap-10">
            <td class="text-center">{{ consumer.name }}</td>
            <td class="text-center">{{ consumer.document }}</td>
            <td class="text-center">{{ consumer.consumption }}</td>
            <td class="text-center">
              {{ consumer.discount_rule.consumer_type }}
            </td>
            <td class="text-center">
              {{ consumer.discount_rule.cover_value }}
            </td>
            <td class="text-center">
              {{ consumer.discount_rule.discount_value }}
            </td>
            <td class="text-center">
              {{ consumer.discount_rule.percentage_discount }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- <span class="bg-red-200">Total de Consumidores: {{ count_consumers }}</span> -->
    </div>
  </body>
</html>
